/* Скрываем боковую панель по умолчанию */
.sidebar {
    visibility: hidden;
    background-color: rgba(128, 128, 128, 0.5); /* Полупрозрачный серый цвет */
    transition: opacity 0.5s, visibility 0.5s; /* Анимация появления в течение 0.5 секунд */
    opacity: 0; /* По умолчанию панель полностью прозрачна */
}

/* Стиль для отображения боковой панели */
.sidebar-visible {
    visibility: visible;
    opacity: 1; /* Полная видимость при активации */
}
